In [3]:
from dbanalysis import headers

In [4]:
hds=headers.get_route_headers()

In [5]:
hds

['index',
 'datasource',
 'dayofservice',
 'tripid',
 'progrnumber',
 'stoppointid',
 'plannedtime_arr',
 'plannedtime_dep',
 'actualtime_arr',
 'actualtime_dep',
 'vehicleid',
 'passengers',
 'passengersin',
 'passengersout',
 'distance',
 'suppressed',
 'justificationid',
 'lastupdate',
 'note']

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('/home/student/ResearchPracticum/data/routesplits/15_16', names=hds)

In [8]:
df.head()

,index,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
0,276,DB,27-MAR-17 00:00:00,4535471,4,6320,60147,60147,60184,60204,2406908,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
1,277,DB,27-MAR-17 00:00:00,4535471,9,1218,60491,60491,60533,60533,2406908,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
2,278,DB,27-MAR-17 00:00:00,4535471,14,1275,60815,60815,60772,60790,2406908,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
3,279,DB,27-MAR-17 00:00:00,4535471,19,1221,61049,61049,61093,61093,2406908,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
4,280,DB,27-MAR-17 00:00:00,4535471,24,668,61333,61333,61265,61265,2406908,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN

In [9]:
df.sort_values(by=['tripid', 'dayofservice','actualtime_arr'])

,index,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
455684,847268,DB,03-JAN-17 00:00:00,4094338,1,6318,79200,79200,79201,79201,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455686,847270,DB,03-JAN-17 00:00:00,4094338,2,6319,79228,79228,79225,79241,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455688,847272,DB,03-JAN-17 00:00:00,4094338,3,7246,79265,79265,79272,79272,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455690,847274,DB,03-JAN-17 00:00:00,4094338,4,6320,79342,79342,79364,79364,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455692,847276,DB,03-JAN-17 00:00:00,4094338,5,4594,79395,79395,79410,79427,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455694,847278,DB,03-JAN-17 00:00:00,4094338,6,4595,79476,79476,79494,79507,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455667,847251,DB,03-JAN-17 00:00:00,4094338,7,4596,79506,79506,79532,79532,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455669,847253,DB,03-JAN-17 00:00:00,4094338,8,4563,79556,79556,79565,79603,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455671,847255,DB,03-JAN-17 00:00:00,4094338,9,1218,79603,79603,79629,79629,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455673,847257,DB,03-JAN-17 00:00:00,4094338,10,1270,79658,79658,79668,79682,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455675,847259,DB,03-JAN-17 00:00:00,4094338,11,1272,79699,79699,79722,79722,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455677,847261,DB,03-JAN-17 00:00:00,4094338,12,1273,79755,79755,79743,79763,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455679,847263,DB,03-JAN-17 00:00:00,4094338,13,1274,79810,79810,79833,79848,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455680,847264,DB,03-JAN-17 00:00:00,4094338,14,1275,79861,79861,79887,79903,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455681,847265,DB,03-JAN-17 00:00:00,4094338,15,1276,79879,79879,79918,79918,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455682,847266,DB,03-JAN-17 00:00:00,4094338,16,1277,79911,79911,79945,79945,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455683,847267,DB,03-JAN-17 00:00:00,4094338,17,1219,79936,79936,79958,79958,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455685,847269,DB,03-JAN-17 00:00:00,4094338,18,1220,79979,79979,79988,80001,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455687,847271,DB,03-JAN-17 00:00:00,4094338,19,1221,80025,80025,80032,80032,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455689,847273,DB,03-JAN-17 00:00:00,4094338,20,664,80072,80072,80080,80094,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455691,847275,DB,03-JAN-17 00:00:00,4094338,21,665,80101,80101,80118,80118,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455693,847277,DB,03-JAN-17 00:00:00,4094338,22,666,80131,80131,80138,80138,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455695,847279,DB,03-JAN-17 00:00:00,4094338,23,667,80161,80161,80159,80159,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455668,847252,DB,03-JAN-17 00:00:00,4094338,24,668,80235,80235,80216,80216,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455670,847254,DB,03-JAN-17 00:00:00,4094338,25,614,80288,80288,80238,80238,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455672,847256,DB,03-JAN-17 00:00:00,4094338,26,615,80334,80334,80285,80303,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455674,847258,DB,03-JAN-17 00:00:00,4094338,27,616,80373,80373,80332,80348,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455676,847260,DB,03-JAN-17 00:00:00,4094338,28,617,80409,80409,80413,80413,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
455678,847262,DB,03-JAN-17 00:00:00,4094338,29,618,80444,80444,80438,80451,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
461970,221041,DB,03-JAN-17 00:00:00,4094338,30,619,80486,80486,80494,80494,2693209,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159138,24409,DB,30-JUN-17 00:00:00,5115951,42,1018,59979,59979,60560,60583,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159141,24412,DB,30-JUN-17 00:00:00,5115951,43,1019,60021,60021,60605,60616,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159145,24416,DB,30-JUN-17 00:00:00,5115951,44,1020,60073,60073,60638,60657,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159148,24419,DB,30-JUN-17 00:00:00,5115951,45,1076,60145,60145,60692,60733,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159151,24422,DB,30-JUN-17 00:00:00,5115951,46,1077,60213,60213,60795,60829,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159152,24423,DB,30-JUN-17 00:00:00,5115951,47,1078,60257,60257,60866,60877,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159155,24426,DB,30-JUN-17 00:00:00,5115951,48,1079,60307,60307,60941,60958,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159157,24428,DB,30-JUN-17 00:00:00,5115951,49,1080,60362,60362,60984,60999,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159161,24432,DB,30-JUN-17 00:00:00,5115951,50,1081,60440,60440,61063,61107,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159164,24435,DB,30-JUN-17 00:00:00,5115951,51,1082,60493,60493,61141,61156,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159167,24438,DB,30-JUN-17 00:00:00,5115951,52,1083,60542,60542,61179,61196,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
134326,156967,DB,30-JUN-17 00:00:00,5115951,53,1085,60624,60624,61231,61248,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
134330,156971,DB,30-JUN-17 00:00:00,5115951,54,1121,60675,60675,61348,61364,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
134333,156974,DB,30-JUN-17 00:00:00,5115951,55,1122,60733,60733,61399,61399,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
134336,156977,DB,30-JUN-17 00:00:00,5115951,56,1123,60783,60783,61429,61441,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159134,24405,DB,30-JUN-17 00:00:00,5115951,57,1124,60826,60826,61465,61475,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159136,24407,DB,30-JUN-17 00:00:00,5115951,58,1125,60935,60935,61528,61545,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159139,24410,DB,30-JUN-17 00:00:00,5115951,59,1127,61036,61036,61616,61644,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159142,24413,DB,30-JUN-17 00:00:00,5115951,60,1130,61141,61141,61693,61693,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159143,24414,DB,30-JUN-17 00:00:00,5115951,61,1140,61226,61226,61782,61797,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159146,24417,DB,30-JUN-17 00:00:00,5115951,62,1141,61317,61317,61866,61878,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159149,24420,DB,30-JUN-17 00:00:00,5115951,63,1142,61372,61372,61907,61923,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159153,24424,DB,30-JUN-17 00:00:00,5115951,64,1143,61485,61485,61977,61989,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159156,24427,DB,30-JUN-17 00:00:00,5115951,65,1144,61519,61519,62010,62021,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159158,24429,DB,30-JUN-17 00:00:00,5115951,66,1145,61580,61580,62072,62096,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159162,24433,DB,30-JUN-17 00:00:00,5115951,67,4869,61648,61648,62153,62168,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159165,24436,DB,30-JUN-17 00:00:00,5115951,68,4870,61844,61844,62320,62330,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
159168,24439,DB,30-JUN-17 00:00:00,5115951,69,3007,61865,61865,62355,62369,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
134327,156968,DB,30-JUN-17 00:00:00,5115951,70,6283,61930,61930,62411,62411,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN
134325,156966,DB,30-JUN-17 00:00:00,5115951,71,6282,62032,62032,63397,63397,2534797,NaN,NaN,NaN,NaN,NaN,NaN,07-JUL-17 16:06:49,NaN

In [10]:
import os
print(sorted(os.listdir('/home/student/ResearchPracticum/data/routesplits')))

['102_10', '102_8', '102_9', '104_15', '104_16', '111_10', '111_7', '111_8', '111_9', '114_5', '114_6', '116_1', '116_3', '118_3', '11_40', '11_41', '11_42', '11_43', '120_10', '120_7', '120_8', '120_9', '122_14', '122_15', '122_16', '122_17', '123_34', '123_35', '123_36', '123_37', '130_10', '130_11', '13_28', '13_60', '13_61', '13_62', '13_63', '13_64', '13_65', '13_66', '13_67', '13_68', '13_69', '13_70', '13_71', '13_72', '13_73', '13_74', '13_75', '13_76', '140_16', '140_19', '140_20', '140_21', '140_22', '142_10', '142_12', '142_8', '142_9', '145_102', '145_104', '145_105', '145_106', '145_107', '145_86', '145_87', '145_88', '145_89', '145_91', '145_93', '145_94', '145_95', '145_99', '14C_17', '14C_18', '14_12', '14_15', '14_16', '150_5', '150_6', '150_7', '151_15', '151_16', '151_17', '151_18', '151_19', '15A_80', '15A_81', '15A_82', '15B_55', '15B_56', '15B_57', '15B_58', '15B_59', '15_10', '15_16', '15_17', '15_18', '161_50', '161_51', '161_52', '16C_26', '16C_27', '16C_28', '16C_29', '16_20', '16_21', '16_22', '16_23', '16_24', '17A_11', '17A_12', '17A_13', '17A_14', '17A_15', '17A_16', '17A_17', '17A_18', '17_10', '17_11', '17_12', '17_13', '17_14', '17_15', '17_16', '17_17', '17_18', '17_19', '184_28', '184_29', '185_50', '185_51', '185_52', '185_53', '185_54', '185_55', '185_56', '185_57', '185_58', '185_59', '185_60', '185_61', '185_62', '185_63', '18_3', '18_4', '18_5', '1_37', '1_38', '1_39', '1_40', '1_41', '220_10', '220_12', '220_14', '220_15', '236_10', '236_9', '238_11', '238_12', '238_15', '239_26', '239_28', '25A_270', '25A_273', '25B_271', '25B_274', '25B_276', '25D_275', '25D_277', '25X_5', '25X_7', '25X_9', '25_269', '25_272', '26_24', '26_26', '270_42', '270_44', '27A_4', '27A_5', '27A_6', '27B_23', '27B_25', '27B_26', '27B_27', '27B_34', '27B_35', '27B_36', '27B_37', '27B_38', '27B_39', '27B_40', '27X_42', '27X_43', '27_12', '27_17', '27_18', '27_19', '27_20', '27_9', '29A_14', '29A_15', '31A_25', '31A_26', '31B_44', '31B_45', '31B_46', '31D_50', '31D_51', '31_15', '31_16', '31_17', '31_18', '32X_74', '32X_75', '32X_76', '32_57', '32_58', '33A_22', '33A_23', '33A_25', '33A_26', '33A_27', '33B_56', '33B_57', '33B_58', '33B_59', '33B_60', '33X_46', '33X_47', '33X_48', '33_16', '33_17', '33_18', '33_40', '33_41', '33_42', '33_43', '33_44', '33_45', '33_69', '33_70', '33_71', '33_72', '33_73', '37_13', '37_14', '37_15', '38A_20', '38A_23', '38A_32', '38A_33', '38B_40', '38B_44', '38B_45', '38D_61', '38D_68', '38_10', '38_13', '38_14', '38_15', '38_9', '39A_40', '39A_41', '39A_42', '39A_43', '39A_44', '39A_45', '39_20', '39_21', '39_22', '39_23', '40B_63', '40B_64', '40B_65', '40D_101', '40D_102', '40D_103', '40D_104', '40D_105', '40D_106', '40_17', '40_18', '40_19', '40_20', '40_24', '40_25', '40_26', '40_27', '40_28', '40_29', '40_30', '40_31', '40_32', '40_33', '41A_22', '41B_51', '41B_52', '41B_53', '41C_78', '41C_79', '41C_80', '41X_108', '41X_109', '41X_110', '41X_115', '41X_116', '41X_117', '41X_118', '41X_119', '41X_120', '41_10', '41_20', '41_21', '41_3', '41_4', '41_5', '41_6', '41_7', '41_8', '41_9', '42D_50', '42D_51', '42_42', '42_44', '43_84', '43_85', '43_88', '43_89', '44B_60', '44B_61', '44_30', '44_31', '44_33', '44_35', '44_36', '44_37', '44_38', '44_39', '44_40', '45A_60', '45A_64', '45A_67', '45A_68', '45A_69', '45A_70', '46A_62', '46A_63', '46A_64', '46A_65', '46A_66', '46A_67', '46A_68', '46A_69', '46A_70', '46A_72', '46A_73', '46A_74', '46A_77', '46E_93', '47_135', '47_136', '47_137', '47_138', '47_139', '49_27', '49_28', '49_29', '4_10', '4_11', '4_12', '4_13', '51D_47', '51D_50', '51X_63', '53_17', '53_19', '54A_11', '54A_12', '56A_30', '56A_31', '59_10', '59_11', '61_106', '61_107', '61_108', '61_109', '63_25', '63_26', '63_27', '63_28', '63_29', '63_30', '63_31', '65B_65', '65B_66', '65_72', '65_73', '65_74', '65_75', '65_76', '65_77', '66A_34', '66A_36', '66B_55', '66B_57', '66X_100', '66X_101', '66X_92', '66X_93', '66X_94', '66X_95', '66X_96', '66X_97', '66X_99', '66_11', '66_13', '66_14', '66_16', '67X_38', '67X_39', '67X_40', '67X_41', '67X_42', '67_4', '67_6', '68A_75', '68A_76', '68X_77', '68_66', '68_67', '68_68', '68_69', '68_70', '68_71', '68_72', '68_73', '68_74', '69X_57', '69X_58', '69_30', '69_41', '69_42', '70D_70', '70D_71', '70_60', '70_67', '70_69', '757_1', '757_2', '75_13', '75_14', '75_15', '75_16', '75_17', '75_18', '75_19', '75_20', '75_21', '75_7', '75_8', '76A_28', '76A_29', '76_36', '76_37', '77A_28', '77A_29', '77X_61', '79A_27', '79A_28', '79_10', '79_11', '7A_85', '7A_86', '7A_87', '7A_88', '7B_91', '7B_93', '7D_120', '7D_121', '7D_122', '7_66', '7_67', '7_70', '7_71', '83A_17', '83A_20', '83A_23', '83A_26', '83_16', '83_18', '83_19', '83_21', '83_22', '83_24', '83_25', '83_27', '84A_1', '84A_2', '84A_3', '84A_4', '84X_52', '84X_53', '84X_56', '84X_57', '84X_58', '84X_59', '84_27', '84_28', '84_29', '84_30', '84_31', '84_32', '9_5', '9_6', '9_7', '9_8']

In [11]:
routes_15 = ['15_10', '15_16', '15_17', '15_18']
import pandas as pd
from dbanalysis import route_tools
to_concat = []
for route in routes_15:
    to_concat.append(route_tools.get_munged_route_data(route))

Dropped 328 rows
Dropped 9.753196550698782 % of dataframe
Dropped 45330 rows
Dropped 8.207867457335565 % of dataframe
Dropped 52746 rows
Dropped 9.763221607694188 % of dataframe
Dropped 747 rows
Dropped 11.045394055892356 % of dataframe

In [15]:
all_stops = pd.concat(to_concat)

In [38]:
import os
import pandas as pd
from sqlalchemy import create_engine
routes = os.listdir('/home/student/data/routesplits')
connstring = 'mysql://'+'dublinbus'+':'+'Ucd4dogs!'+'@'+'127.0.0.1:3306'+'/researchpracticum'
engine = create_engine(connstring)
from dbanalysis import  route_tools

for route in routes:
    df = route_tools.get_munged_route_data(route)
    df['route_id']=route
    df['stopA'] = df['fromstop']
    df['stopB'] = df['tostop']
    df['plannedtime_arr_A']=df['plannedtime_arr_from']
    df['plannedtime_dep_A']=df['plannedtime_dep_from']
    df['actualtime_arr_A']=df['actualtime_arr_from']
    df['actualtime_dep_A']=df['actualtime_dep_from']
    df['plannedtime_arr_B']=df['plannedtime_arr_to']
    df['actualtime_arr_B']=df['actualtime_arr_to']
    time_format = "%d-%b-%y %H:%M:%S"
    df['dt'] = pd.to_datetime(df['dayofservice'],format=time_format)
    df['dt'] = df['dt'].dt.date
    gf = df[['dt','stopA','stopB','plannedtime_arr_A','plannedtime_dep_A','actualtime_arr_A',\
             'actualtime_dep_A','plannedtime_arr_B','actualtime_arr_B','route_id']]
    for i in range (0,10):
        if i<9:
            a = int(gf.shape[0]/10)*i
            b = int(gf.shape[0]/10)*(i+1)
            cf = gf.iloc[a:b]
        else:
            a=int(gf.shape[0]/10)*i
            cd = gf.iloc[a:]
        cf.to_sql(name='dublinBus_stop_model',con=engine, index=False, if_exists='append')
    print('uploaded route',route)

Dropped 284 rows
Dropped 9.940497024851243 % of dataframe
uploaded route 41_4
Dropped 358 rows
Dropped 11.300505050505052 % of dataframe
uploaded route 31_16
Dropped 58 rows
Dropped 11.02661596958175 % of dataframe
uploaded route 17_18
Dropped 45 rows
Dropped 12.195121951219512 % of dataframe
uploaded route 41X_115
Dropped 3093 rows
Dropped 4.899491517369197 % of dataframe
uploaded route 220_12
Dropped 13231 rows
Dropped 4.429735575152502 % of dataframe
uploaded route 4_12
Dropped 164 rows
Dropped 9.323479249573621 % of dataframe
uploaded route 17_14
Dropped 1055 rows
Dropped 4.073201806880043 % of dataframe
uploaded route 41C_80
Dropped 13304 rows
Dropped 9.506116382759803 % of dataframe
uploaded route 27B_34
Dropped 1066 rows
Dropped 8.173593007207483 % of dataframe
uploaded route 142_12
Dropped 804 rows
Dropped 7.186271004647837 % of dataframe
uploaded route 111_9
Dropped 213 rows
Dropped 3.5690348525469173 % of dataframe
uploaded route 220_15
Dropped 39654 rows
Dropped 6.949940935842655 % of dataframe
uploaded route 145_102
Dropped 2274 rows
Dropped 4.860740012397666 % of dataframe
uploaded route 111_8
Dropped 1541 rows
Dropped 8.808734423230822 % of dataframe
uploaded route 41B_53
Dropped 7855 rows
Dropped 8.38635975401435 % of dataframe
uploaded route 70_67
Dropped 1777 rows
Dropped 100.0 % of dataframe
uploaded route 47_137
Dropped 22089 rows
Dropped 6.43958497925771 % of dataframe
uploaded route 77A_29
Dropped 425 rows
Dropped 4.670329670329671 % of dataframe
uploaded route 76A_28
Dropped 30 rows
Dropped 6.593406593406594 % of dataframe
uploaded route 33_71
Dropped 630 rows
Dropped 4.009929348863853 % of dataframe

KeyboardInterrupt:

In [17]:
all_stops['routeid']='15'

In [18]:
all_stops

,dayofservice,fromstop,tostop,plannedtime_arr_from,plannedtime_dep_from,actualtime_arr_from,actualtime_dep_from,plannedtime_arr_to,actualtime_arr_to,routeid
0,03-JAN-17 00:00:00,6318,6319,84000,84000,84016,84016,84026,84032,15
1,03-JAN-17 00:00:00,6319,7246,84026,84026,84032,84032,84056,84055,15
2,03-JAN-17 00:00:00,7246,6320,84056,84056,84055,84055,84118,84123,15
3,03-JAN-17 00:00:00,6320,4594,84118,84118,84123,84123,84173,84171,15
4,03-JAN-17 00:00:00,4594,4595,84173,84173,84171,84171,84257,84224,15
5,03-JAN-17 00:00:00,4595,4596,84257,84257,84224,84243,84279,84268,15
6,03-JAN-17 00:00:00,4596,4563,84279,84279,84268,84285,84326,84322,15
7,03-JAN-17 00:00:00,4563,1218,84326,84326,84322,84340,84370,84383,15
8,03-JAN-17 00:00:00,1218,1270,84370,84370,84383,84383,84418,84418,15
9,03-JAN-17 00:00:00,1270,1272,84418,84418,84418,84418,84454,84449,15
10,03-JAN-17 00:00:00,1272,1273,84454,84454,84449,84449,84489,84466,15
11,03-JAN-17 00:00:00,1273,1274,84489,84489,84466,84466,84524,84487,15
12,03-JAN-17 00:00:00,1274,1275,84524,84524,84487,84499,84575,84533,15
13,03-JAN-17 00:00:00,1275,1276,84575,84575,84533,84533,84593,84546,15
14,03-JAN-17 00:00:00,1276,1277,84593,84593,84546,84559,84625,84606,15
15,03-JAN-17 00:00:00,1277,1219,84625,84625,84606,84606,84647,84621,15
16,03-JAN-17 00:00:00,1219,1220,84647,84647,84621,84621,84685,84664,15
17,03-JAN-17 00:00:00,1220,1221,84685,84685,84664,84664,84732,84692,15
18,03-JAN-17 00:00:00,1221,664,84732,84732,84692,84692,84780,84730,15
19,03-JAN-17 00:00:00,664,665,84780,84780,84730,84739,84804,84765,15
20,03-JAN-17 00:00:00,665,666,84804,84804,84765,84765,84829,84786,15
21,03-JAN-17 00:00:00,666,667,84829,84829,84786,84786,84854,84806,15
22,03-JAN-17 00:00:00,667,668,84854,84854,84806,84806,84916,84845,15
23,03-JAN-17 00:00:00,668,614,84916,84916,84845,84845,84961,84870,15
24,03-JAN-17 00:00:00,614,615,84961,84961,84870,84894,85002,84927,15
25,03-JAN-17 00:00:00,615,616,85002,85002,84927,84927,85036,84952,15
26,03-JAN-17 00:00:00,616,617,85036,85036,84952,84967,85065,84989,15
27,03-JAN-17 00:00:00,617,618,85065,85065,84989,84989,85093,85010,15
28,03-JAN-17 00:00:00,618,619,85093,85093,85010,85010,85121,85030,15
29,03-JAN-17 00:00:00,619,675,85121,85121,85030,85030,85136,85043,15
...,...,...,...,...,...,...,...,...,...,...
5986,30-JUN-17 00:00:00,4887,1150,84187,84187,84140,84152,84224,84191,15
5987,30-JUN-17 00:00:00,1150,1151,84224,84224,84191,84215,84258,84266,15
5988,30-JUN-17 00:00:00,1151,1152,84258,84258,84266,84281,84274,84295,15
5989,30-JUN-17 00:00:00,1152,1153,84274,84274,84295,84295,84324,84331,15
5990,30-JUN-17 00:00:00,1153,1154,84324,84324,84331,84331,84350,84349,15
5991,30-JUN-17 00:00:00,1154,946,84350,84350,84349,84349,84407,84408,15
5992,30-JUN-17 00:00:00,946,1155,84407,84407,84408,84416,84467,84470,15
5993,30-JUN-17 00:00:00,1155,1157,84467,84467,84470,84482,84511,84524,15
5994,30-JUN-17 00:00:00,1157,1158,84511,84511,84524,84539,84545,84570,15
5995,30-JUN-17 00:00:00,1158,1159,84545,84545,84570,84570,84562,84590,15
5996,30-JUN-17 00:00:00,1159,1160,84562,84562,84590,84590,84583,84611,15
5997,30-JUN-17 00:00:00,1160,1161,84583,84583,84611,84611,84601,84631,15
5998,30-JUN-17 00:00:00,1161,1162,84601,84601,84631,84640,84618,84664,15
5999,30-JUN-17 00:00:00,1162,1163,84618,84618,84664,84664,84642,84676,15
6000,30-JUN-17 00:00:00,1163,1164,84642,84642,84676,84676,84684,84731,15
6001,30-JUN-17 00:00:00,1164,1165,84684,84684,84731,84731,84720,84761,15
6002,30-JUN-17 00:00:00,1165,1166,84720,84720,84761,84761,84756,84797,15
6003,30-JUN-17 00:00:00,1166,1167,84756,84756,84797,84797,84779,84816,15
6004,30-JUN-17 00:00:00,1167,1168,84779,84779,84816,84826,84802,84846,15
6005,30-JUN-17 00:00:00,1168,1169,84802,84802,84846,84846,84833,84863,15
6006,30-JUN-17 00:00:00,1169,1170,84833,84833,84863,84863,84861,84902,15
6007,30-JUN-17 00:00:00,1170,1069,84861,84861,84902,84912,84893,84939,15
6008,30-JUN-17 00:00:00,1069,1070,84893,84893,84939,84939,84922,84957,15
6009,30-JUN-17 00:00:00,1070,1071,84922,84922,84957,84957,84961,84991,15
6010,30-JUN-17 00:00:00,1071,4528,84961,84961,84991,84991,84992,85004,15
6011,30-JUN-17 00:00:00,4528,1072,84992,84992,85004,85004,85035,85099,15
6012,30-JUN-17 00:00:00,1072,7577,85035,85035,85099,85111,85110,85158,15
6013,30-JUN-17 00:00:00,7577,1353,85110,85110,85158,85165,85174,85238,15
6014,30-JUN-17 00:00:00,1353,1354,85174,85174,85238,85314,85259,85453,15
6015,30-JUN-17 00:00:00,7578,7582,85385,85385,85676,85676,85478,85790,15

In [13]:
a=all_stops
a[a['actualtime_arr_from']==a['actualtime_dep_from']]

NameError: name 'all_stops' is not defined

In [ ]:
all_stops.columns

In [ ]:
all_stops[all_stops['actualtime_arr_from']!=all_stops['actualtime_dep_from']].shape

In [ ]:
all_stops['fromstop'].unique()

### Looking at just one stop

In [19]:
stop=all_stops[all_stops['fromstop']==7582]

In [20]:
stop['tostop'].unique()

array([299])

In [21]:
stop.shape

(7779, 10)

In [22]:
stop.head(40)

,dayofservice,fromstop,tostop,plannedtime_arr_from,plannedtime_dep_from,actualtime_arr_from,actualtime_dep_from,plannedtime_arr_to,actualtime_arr_to,routeid
34,03-JAN-17 00:00:00,7582,299,75724,75724,74981,75086,76182,75263,15
100,04-JAN-17 00:00:00,7582,299,75724,75724,75354,75382,76182,75633,15
166,05-JAN-17 00:00:00,7582,299,75724,75724,75396,75465,76182,75678,15
232,06-JAN-17 00:00:00,7582,299,75724,75724,75175,75214,76182,75343,15
298,09-JAN-17 00:00:00,7582,299,75724,75724,74931,74998,76182,75190,15
364,10-JAN-17 00:00:00,7582,299,75724,75724,75239,75312,76182,75521,15
430,13-JAN-17 00:00:00,7582,299,75724,75724,75570,75611,76182,75972,15
496,16-JAN-17 00:00:00,7582,299,75724,75724,74790,74813,76182,75021,15
562,17-JAN-17 00:00:00,7582,299,75724,75724,75156,75179,76182,75403,15
628,18-JAN-17 00:00:00,7582,299,75724,75724,75009,75023,76182,75224,15
727,03-JAN-17 00:00:00,7582,299,62920,62920,62006,62084,63489,62336,15
793,04-JAN-17 00:00:00,7582,299,62920,62920,62282,62322,63489,62965,15
859,05-JAN-17 00:00:00,7582,299,62920,62920,62464,62510,63489,62883,15
921,06-JAN-17 00:00:00,7582,299,62920,62920,62153,62200,63489,62619,15
985,09-JAN-17 00:00:00,7582,299,62920,62920,62471,62548,63489,62780,15
1048,10-JAN-17 00:00:00,7582,299,62920,62920,62815,62908,63489,63156,15
1096,13-JAN-17 00:00:00,7582,299,62920,62920,61998,62085,63489,62292,15
1162,16-JAN-17 00:00:00,7582,299,62920,62920,62930,62975,63489,63579,15
1228,17-JAN-17 00:00:00,7582,299,62920,62920,62380,62477,63489,62662,15
1291,18-JAN-17 00:00:00,7582,299,62920,62920,62812,62929,63489,63292,15
1355,19-JAN-17 00:00:00,7582,299,62920,62920,62514,62604,63489,62968,15
1396,03-JAN-17 00:00:00,7582,299,38135,38135,37587,37604,38609,37796,15
1454,04-JAN-17 00:00:00,7582,299,38135,38135,37861,37905,38609,38128,15
1515,05-JAN-17 00:00:00,7582,299,38135,38135,37948,38023,38609,38162,15
1575,06-JAN-17 00:00:00,7582,299,38135,38135,37042,37070,38609,37218,15
1633,09-JAN-17 00:00:00,7582,299,38135,38135,37920,37941,38609,38056,15
1699,10-JAN-17 00:00:00,7582,299,38135,38135,37617,37639,38609,37777,15
1765,13-JAN-17 00:00:00,7582,299,38135,38135,37691,37710,38609,38001,15
1829,16-JAN-17 00:00:00,7582,299,38135,38135,37371,37389,38609,37519,15
1893,17-JAN-17 00:00:00,7582,299,38135,38135,37876,37891,38609,38131,15
1953,18-JAN-17 00:00:00,7582,299,38135,38135,37611,37629,38609,37871,15
1995,19-JAN-17 00:00:00,7582,299,38135,38135,37645,37682,38609,37816,15
2036,03-JAN-17 00:00:00,7582,299,24030,24030,23576,23595,24260,23778,15
2102,04-JAN-17 00:00:00,7582,299,24030,24030,23632,23661,24260,23856,15
2168,05-JAN-17 00:00:00,7582,299,24030,24030,23705,23732,24260,23871,15
2234,06-JAN-17 00:00:00,7582,299,24030,24030,23997,24016,24260,24144,15
2300,09-JAN-17 00:00:00,7582,299,24030,24030,23997,24013,24260,24148,15
2366,10-JAN-17 00:00:00,7582,299,24030,24030,23822,23849,24260,23978,15
2432,13-JAN-17 00:00:00,7582,299,24030,24030,23815,23843,24260,24058,15
2498,16-JAN-17 00:00:00,7582,299,24030,24030,23584,23627,24260,23813,15

In [ ]:
stop['traveltime']=stop['actualtime_arr_to']-stop['actualtime_dep_from']

In [ ]:
stop['dwelltime']=stop['actualtime_dep_from']-stop['actualtime_arr_from']

In [ ]:
print("Mean travel time on this link:", stop['traveltime'].mean())
print('Mean dwell time on this link:',stop['dwelltime'].mean())

In [ ]:
print('Mean lateness on this link:',(stop['actualtime_arr_to']-stop['plannedtime_arr_to']).mean())

Interesting! The busses seem to run early on this link. Going by Dublin Bus's 'planned' schedule though, of course.

## Building a travel time model for one connection

In [ ]:
from sklearn.linear_model import LinearRegression
import numpy as np

### Making time series data numerical

In [23]:
datetimes=pd.to_datetime(stop['dayofservice'])

In [24]:
stop['dt']=datetimes

/home/student/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
stop['dt'].head()

In [25]:
stop['dayofweek']=stop['dt'].dt.dayofweek
stop['month']=stop['dt'].dt.month

/home/student/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/student/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
stop.head()

,dayofservice,fromstop,tostop,plannedtime_arr_from,plannedtime_dep_from,actualtime_arr_from,actualtime_dep_from,plannedtime_arr_to,actualtime_arr_to,routeid,dt,dayofweek,month
34,03-JAN-17 00:00:00,7582,299,75724,75724,74981,75086,76182,75263,15,2017-01-03,1,1
100,04-JAN-17 00:00:00,7582,299,75724,75724,75354,75382,76182,75633,15,2017-01-04,2,1
166,05-JAN-17 00:00:00,7582,299,75724,75724,75396,75465,76182,75678,15,2017-01-05,3,1
232,06-JAN-17 00:00:00,7582,299,75724,75724,75175,75214,76182,75343,15,2017-01-06,4,1
298,09-JAN-17 00:00:00,7582,299,75724,75724,74931,74998,76182,75190,15,2017-01-09,0,1

In [ ]:
stop['target'] = stop['actualtime_arr_to'] - stop['actualtime_dep_from']

In [ ]:
cols = [col for col in stop.columns if col not in ['dayofservice','actualtime_arr_to','dt','target','traveltime']]

In [ ]:
msk = np.random.rand(len(stop)) < 0.8
train = stop[msk]
test = stop[~msk]

In [ ]:
regr = LinearRegression(fit_intercept=True).fit(train[cols],train['target'])

In [ ]:
preds=regr.predict(test[cols])
truths = test['target']
preds = [float(x) for x in preds]
truths = [float(x) for x in truths]
len(truths)

In [ ]:
preds[4] - truths[4]

In [ ]:
total = 0
for i in range(0, len(preds)):
    total += (preds[i]-truths[i])
print(int(total/len(preds)))

In [ ]:
dir(regr)

On average, we're off by about six seconds -- not so bad really -- though we did include information about the dwell time, which might also (somehow) encode information about the route

## Ok so it makes predictions!

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(truths,preds)

Over all, this seems to be a very very bad mean_squared_error, though I don't really get it so I don't know.

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regr =RandomForestRegressor().fit(train[cols],train['target'])

In [ ]:
regr.predict(test[cols])

In [ ]:
preds=regr.predict(test[cols])
truths = test['target']
preds = [float(x) for x in preds]
truths = [float(x) for x in truths]
mean_squared_error(truths,preds)

That still seems somewhat.... awful. Must be doing something wrong!

In [ ]:
import json

what about adding columns for weekend, and turning time into a polynomial (cubic, in order to allow for fitting to two peak times?)

In [ ]:
stop['weekend'] = stop['dayofweek']>4

In [ ]:
stop['weekend'].mean()

In [ ]:
stop['dep2']=stop['actualtime_dep_from']**2
stop['dep3']=stop['actualtime_dep_from']**3

In [ ]:
msk = np.random.rand(len(stop)) < 0.8
train = stop[msk]
test = stop[~msk]

In [ ]:
regr = LinearRegression(fit_intercept=True).fit(train[cols],train['target'])

In [ ]:
preds=regr.predict(test[cols])
truths = test['target']
preds = [float(x) for x in preds]
truths = [float(x) for x in truths]
len(truths)

In [ ]:
preds[4] - truths[4]

In [ ]:
total = 0
for i in range(0, len(preds)):
    total += (preds[i]-truths[i])
print(int(total/len(preds)))

Well this looks better .... But is it?

In [ ]:
mean_squared_error(truths,preds)

In [ ]:
d=json.loads(open('stops_trimmed.json','r').read())

In [ ]:
d

In [ ]:
import seaborn as sns

In [ ]:
s = stop.sort_values(axis=0, by='actualtime_arr_from')

### Visualing dwell time and travel time by time of day

In [ ]:
X=s['actualtime_arr_from']
Y=s['target']
Z=s['dwelltime']

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(X,Z)
plt.show()

In [ ]:
plt.plot(X,Y)
plt.show()

### By day of week

In [ ]:
s = stop.sort_values(axis=0, by='dayofweek')

In [ ]:
s['weekseconds']=(s['dayofweek']*(60*60*24))+s['actualtime_arr_from']

In [ ]:
s = s.sort_values(axis=0, by='weekseconds')

In [ ]:
q=s['weekseconds']
plt.plot(q,Z)
plt.show()

In [ ]:
plt.plot(q,Y)
plt.show()

### This has been pretty useless to be honest!

In [ ]:
print('hello')

# Looking at the distributions of dwell time and travel time

In [ ]:
ax = sns.distplot(Y)

In [ ]:
ax = sns.distplot(Z)

Are these normal(ish) distributions?

### Actual 'lateness' seems to roughly adhere to a normal distribution

In [ ]:
A = s['plannedtime_arr_to'] - s['actualtime_arr_to']

In [ ]:
ax = sns.distplot(A)

# What about for the whole route?

In [ ]:
df = all_stops

In [ ]:
df.columns

In [ ]:
df['traveltime']=df['actualtime_arr_to']-df['actualtime_dep_from']
df['dwelltime']=df['actualtime_dep_from']-df['actualtime_arr_from']
df['lateness']=df['actualtime_arr_to']-df['plannedtime_arr_to']

In [ ]:
ax = sns.distplot(df['traveltime'])

In [ ]:
ax = sns.distplot(df['lateness'])

In [ ]:
ax = sns.distplot(df['dwelltime'])

Well - this shows us that there are some crazy outliers in our dataset, whether that's important or not I don't know

Some busses spend up to an hour in 'dwell time'. That must suck

Modelling a whole route!

In [ ]:
rts=json.loads(open('trimmed_routes.json','r').read())

In [ ]:
print('hello')

## We're going to model the 'to Ballycullen' variant

In [ ]:
route=rts['15'][1]
print(route)

What times do busses leave this stop?

In [ ]:
all_stops[all_stops['fromstop']==6318]['plannedtime_dep_from'].nunique()

In [ ]:
print('hello')

In [ ]:
all_stops.columns

In [ ]:
time_format = "%d-%b-%y %H:%M:%S"

In [ ]:
datetimes = pd.to_datetime(all_stops['dayofservice'],format=time_format)

In [ ]:
all_stops['dt']=datetimes
all_stops['dayofweek']=all_stops['dt'].dt.dayofweek
all_stops['month']=all_stops['dt'].dt.month
all_stops['weekend']=all_stops['dayofweek']>4

In [ ]:
all_stops.head()

In [ ]:
d['6282']

Simple class contains two linear regression models - one for dwell time and one for travel time

In [ ]:
class stop_link_model():
    """
    Simple class contains two linear regression models - one for dwell time and one for travel time.
    
    """
    
    def __init__(self,from_stop,to_stop,data,stop_data):
        self.from_stop = from_stop
        self.to_stop = to_stop
        self.data = data
        self.lat = stop_data['lat']
        self.lng = stop_data['lon']
        self.name = stop_data['stop_name']
        self.buildDwellTimeModel()
        self.buildTravelModel()
    def buildDwellTimeModel(self):
        target = 'dwelltime'
        features = ['actualtime_arr_from','actualtime_arr_from2','actualtime_arr_from3','dayofweek','month','weekend']
        self.dwell_regr = LinearRegression(fit_intercept=True).fit(self.data[features],self.data[target])
    def buildTravelModel(self):
        target= 'traveltime'
        features = ['actualtime_dep_from','actualtime_dep_from2','actualtime_dep_from3','dayofweek','month','weekend']
        self.travel_regr=LinearRegression(fit_intercept=True).fit(self.data[features],self.data[target])
    
    def get_time_to_next_stop(self, arrival_time, dayofweek,month,weekend):
        index1 = ['actualtime_arr_from','actualtime_arr_from2','actualtime_arr_from3','dayofweek','month','weekend']
        index2 = ['actualtime_dep_from','actualtime_dep_from2','actualtime_dep_from3''dayofweek','month','weekend']
        row = pd.DataFrame([[arrival_time,arrival_time**2,arrival_time**3,dayofweek,month,weekend]],index=index1)
        dwell_time = self.dwell_regr.predict(row)[0]
        row2 = pd.DataFrame([[dwell_time+arrival_time,(dwell_time+arrival_time)**2,(dwell_time+arrival_time)**3,dayofweek,month,weekend]],index=index2)
        travel_time = self.travel_regr.predict(row2)[0]
        return dwell_time + travel_time

### Build models for every stop in the route

In [ ]:
all_stops['actualtime_arr_from2']=all_stops['actualtime_arr_from']**2
all_stops['actualtime_arr_from3']=all_stops['actualtime_arr_from']**3
all_stops['actualtime_dep_from2']=all_stops['actualtime_dep_from']**2
all_stops['actualtime_dep_from3']=all_stops['actualtime_dep_from']**3

In [ ]:
models=[]
for i in range(1, len(route)-1):
    fromstop = route[i]
    tostop = route[i+1]
    data = all_stops[(all_stops['fromstop']==fromstop) & (all_stops['tostop']==tostop)]
    stop_data = d[str(fromstop)]
    models.append(stop_link_model(fromstop,tostop,data,stop_data))

In [ ]:
models[15].get_time_to_next_stop(28800,2,3,True)

## Now we can send a bus down the route, starting at 10 o clock in the morning :O

In [ ]:
total_time = 30000
for model in models:
    total_time += model.get_time_to_next_stop(total_time,2,3,False)
print(total_time)

In [ ]:
models[2].dwell_regr.coef_

In [ ]:
models[0].name

It took just an hour and a bit to traverse this route - which must be somwhat... unrealistic right? Like maybe if the traffic was.... incredible? I think you would struggle to drive around the m50 in that kind of time frame。。。

### Overall, I think this is a success. We can get more granular historical data, of course, by also including the other routes that share this link. But for now I think this is enough. 

There are probably better options than linear models, and it would be good to bring more sources of data into the equation. However, for now at least, I think this is grand.